[submodule "libs/diffeq"]
	path = libs/diffeq
	url = git@github.com:martinjrobins/diffeq.git
[submodule "libs/diffeq-runtime"]
	path = libs/diffeq-runtime
	url = git@github.com:martinjrobins/diffeq-runtime.git
